@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
	--primary: #fdd4ae;
	--secondary: #868484;
	--error: #ff4a4a;
}

body {
	font-family: 'Noto Serif';
}
